/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 26, 2021, 9:13:45 AM
    Author     : Admin
*/

body {
    background-color: lightblue;
}

